// Thematic Color Scheme
$white: #f5f5f5;
$dark: #35373d;
$mid: #5c698f;
$light:	#99afef;
$secondary: #ee8c6e;
$dgray: #aaa;
$halfdark: rgba(0,0,0,0.5);
$font-color-main: #888;

// Body
$body-bgcolor: #444;

// Nav Bar
$logo-color: #5c698f;
$nav-color: #f5f5f5;
$nav-border-color: rgba(0,0,0,0.2);
$nav-link-color: rgba(0,0,0,0.35);
$nav-link-hover-color: rgba(0,0,0,0.5);
$nav-btn-color: #eee;
$nav-btn-accent-color: #ccc;

// Skills
$skills-bgcolor: #d0d0d0;
$bg-gradient-start: #eee;
$bg-gradient-finish: #e0e0e0;
$skill-box-ribbon-color: $mid;

// Projects
$c1: #a49a6d;
$c2: #4d5d46;

// Working On
$workingon-bgcolor: #444;
$card-color: #777355;
$card-title: #c0c2d2;
$card-desc-color: #eeeef3;
$card-overlay: transparentize(#8f2a33, 0.05);

// Contact
$contact-bgcolor: #3d3735;
$contact-sq-color: lighten($dark,40);
$contact-sq-hover-color: lighten($contact-sq-color, 10);
$contact-sq-accent-color: $secondary;

// About This Site
$this-website-font-color: transparentize($white, 0.2);
$this-website-bgcolor: $dark;
// Logo
$css-logo-color: transparentize($white, 0.2);
// Footer
$footer-color: transparentize($white, 0.8);
