$gray: #ccc;
$secondary: #ee8c6e;
$bg-gradient-start: #eee;
$bg-gradient-finish: #e0e0e0;
$halfdark: rgba(0,0,0,0.4);
$halflight: rgba(255,255,255,0.4);

// Thematic Color Scheme
$white: #f5f5f5;
$dark: #35373d;
$mid: #5c698f;
$light:	#99afef;
$secondary: #ee8c6e;
$dgray: #aaa;

// Logo
$css-logo-color: transparentize($white, 0.2);

// Nav Bar
$logo-color: #5c698f;
$nav-color: #f5f5f5;
$nav-border-color: rgba(0,0,0,0.2);
$nav-link-color: rgba(0,0,0,0.35);
$nav-link-hover-color: rgba(0,0,0,0.5);
$nav-btn-color: #eee;
$nav-btn-accent-color: #ccc;
