body {
	background-color: $body-bgcolor;
}

section {
	position: relative;
	padding: 70px 20px;
	color: $font-color-main;
	line-height: $line-height-main;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}
