#pf-header {
	position: relative;
	padding: 90px 20px 70px;
	background-color: $light;
	&:after, &:before {
		content: "";
		border-top: 40px solid $light;
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
		position: absolute;
		bottom: -40px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	&:before {
		border-top: 45px solid lighten($light,5);
		bottom: -45px;
	}
}

.title-group {
	padding: 50px 10px;
	line-height: 1.2;
	h1 {
		color: $white;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 32pt;
		text-shadow: 0 2px $halfdark;
		small {
			font-size: 22pt;
			font-family: $gentium;
			text-transform: lowercase;
			text-shadow: none;
			color: $halfdark;
		}
    &:after {
      content: "v5.0";
      font-size: 12pt;
      text-shadow: none;
      color: $halfdark;
      letter-spacing: 0px;
      text-transform: none;
    }
	}
	h1 ~ h2 {
		font-size: 16pt;
		font-family: $gentium;
		font-weight: lighter;
		font-style: italic;
		color: $halfdark;
		margin-top: -20pt;
	}
}
