#pf-this-website {
  background-color: $dark;
  color: $white;
  padding-bottom: 0;
}

#pf-this-website footer {
  text-align: center;
  font-size: 6pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $footer-color;
  padding: 60px 0 10px;
}
