#pf-this-website {
  background-color: $this-website-bgcolor;
  color: $this-website-font-color;
  padding-bottom: 0;
}

#pf-this-website header {
  margin-bottom: 30px;
}
#pf-this-website footer {
  text-align: center;
  font-size: 6pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $footer-color;
  padding: 60px 0 10px;
}

#pf-this-website h4 {
  margin: 5px 0;
}

#pf-this-website ul {
  // list-style: none;
  margin: 0;
  padding-left: 1.5em;
  li {
    &:before {
    }
  }
}

#pf-this-website small {
  font-size: 0.7rem;
}

#pf-this-website .two-col {
  margin-top: 20px;
}
#pf-this-website .src-btn {
  display: inline-block;
  border: 1px solid $this-website-font-color;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
  &:hover {
    background-color: $this-website-font-color;
    color: $this-website-bgcolor;
  }
}
