#pf-workingon {
	background-color: $skills-bgcolor;
  text-align: center;
	padding: 70px 0px 110px;
	h1 {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 28pt;
		color: $secondary;
		text-shadow: 0 2px darken($skills-bgcolor, 40);
	}
}
